// Typography
$font-stack: 'Source Sans Pro', sans-serif;

// Color
$polo-blue: #83a4d4;    // light blue
$french-pass: #b6fbff;  // lighter blue
$hippie-blue: #4aa0ad;  // aqua
$white: #fff;
$black: #000;
