// Typography
$font-stack: 'Source Sans Pro', sans-serif;

// Color
$polo-blue: #83a4d4;    // light blue
$french-pass: #b6fbff;  // lighter blue
$hillary: #ada48a;      // tan
$white: #fff;
$black: #000;
