h1, h2 {
  font-weight: 400;
}

p {
  font-weight: 300;
  margin: 0;
}

a {
  color: darken($polo-blue, 40%);
  text-decoration: none;
  transition: color 0.15s ease;
  &:hover {
    color: lighten($hippie-blue, 10%);
  }
}

.subtle-link > a {
  text-decoration: underline;
  color: white;
}
