.recent-work {
  color: darken($polo-blue, 40%);
  background: $white;
  padding-bottom: 5rem;
  h2 {
    margin: 0;
    padding: 1rem;
  }
  p {
    margin: 0;
    padding: 0 1rem 0.5rem;
  }
  a:hover {
    color: darken($polo-blue, 40%);
  }
}

.project-tech-list {
  font-size: 0.9rem;
  color: lighten($black, 50%);
}

.project-link {
  transition: background-color 0.3s ease;
}

.project-link:hover {
  background-color: lighten($black, 90%);
}
